

  <ul>
  <% @events.each do |event| %>
  <li><%= event.id %></a><li><%= event.title %></a>
  </li>
  <li><%= event.organizer_name%></a>
  </li>
  <li><%= event.date %></a>
  </li>
  <li><%= event.organizer_email %></a>
  </li>
  <br>

  <% end %>
