<head>
    <title>EVENTS</title>
</head>
  <h1>Welcome to EVENT HANDLER!</h1>

  <% if @new_event && !@new_event.errors.empty? %>
        <% @new_event.errors.full_messages.each do |error|%>
        <h2><%= error%><br></h2>
        <%end%>
      <% end %><br>
    <form method='post' action='/events'>
      Event: <Input type='title' name='title' placeholder='Event'><br>
      Date:  <Input type='date' name='date'><br>
      Name:  <Input type='text' name='organizer_name'placeholder='Organizer Name'><br>
      Email: <Input type='email' name='organizer_email'placeholder='Organizer Email'><br>
      <button>Add Event</button>
      <br>
      <ul>
      <% @events.each do |event| %>
        <li><a href="/event/<%= event.id %>"><%= event.title %></a></li>
        <%= event.organizer_name%><br>
        <%= event.date %><br>
        <%= event.organizer_email %><br>
        <br>
      <% end %>
</form>




